.cart-item-header,
.cart-item-details {
    display: flex;
    justify-content: center;
    width: 94%;
    align-items: center;
    vertical-align: middle;
    text-align: center;

}

.cart-item-header {
    margin-bottom: 5px;
}

.cart-item-header p {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(202, 201, 201);
    width: 33%
}

.cart-item-details p {
    margin: 0;
    padding: 0;
    width: 33%
}


.create_order_form {
    width: 600px;
    margin-left: 300px;
    margin: 40px 0;
    margin-left: auto;
    margin-right: 80px;
    padding: 20px;
    box-shadow: 0px 0px 4px 4px rgb(172, 172, 172);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.executive_details {
    display: flex;
}

.form-group {
    margin: 20px 12px;
    width: 250px
}

.form-group:nth-child(n+3) {
    width: 29%;
}

.btn-primary {
    margin: 25px auto 10px auto;
}


/* Add to cart */

.add_to_cart {
    width: 300px;
    margin: 40px 0;
    max-height: 200px;
    margin-left: auto;
    padding: 20px;
    box-shadow: 0px 0px 4px 4px rgb(223, 223, 223);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Clear Cart  */
.clear-cart-button {
    background-color: rgb(161, 6, 6);
    padding: 7px 10px;
    position: relative;
    color: white;
    border-radius: 5px;
    transform: translate(200px, -50px);
    cursor: pointer;
}