.view_inventory {
    background-color: rgb(236, 238, 238);
    min-height: 100vh;
    padding-bottom: 100px;
}

.inventory_container {
    width: 70%;
    margin-top: 50px;
    margin-left: 18%;
    text-align: center;
}

.inventory_container_header,
.medicine-card {
    display: flex;
    width: 90%;
    margin-left: 10%;
    font-weight: 600;
    text-align: left;
    justify-content: space-between;
    text-align: center;
    padding: 0px 0px
}

.inventory_container_header p,
.medicine-card span {
    width: 20%;
}

/* Medicine card */
.medicine-card {
    font-weight: normal;
    background-color: white;
    padding: 20px 10px;
    margin-top: 10px;
}